@model MembersViewModel
@{
    ViewData["Title"] = "Member";
}

<partial name="Partials/Member/_AddMemberModal" model="Model.AddMemberviewModel" />

<section id="projects">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add"><span>Add Member</span></button>

    </div>
</section>

