@{
    Layout = "_CenterScreen";
}

<h1>404 - Page Not Found</h1>
<p>The page you are looking for does not exist or has been moved.</p>
<a asp-controller="Projects" asp-action="Index">Go back home</a>
